.container-fluid {
    visibility: hidden;
}

#pairs-container {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 7rem;
    padding: 1rem 0;
    flex-wrap: wrap;
    overflow: hidden;
}

#pairs-container .part {
    display: inline-block;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.7rem;
}

#pairs-container .part:last-child {
    margin-right: 0;
}

#pairs-container .part .letter {
    display: inline-block;
}

@media screen and (min-width: 700px) {
    #pairs-container .part {
        font-size: 3rem;
    }
}
